.big-blue {
    display: flex;    
}

.small-blue {
    height: 200px;
    margin: 10px;
    background-color: lightblue;
    width: 50%;
}

.big-red {
    display: flex;
}

.small-red {
    height: 200px;
    margin: 10px;
    background-color:lightcoral;
    width: 20%;
}

.medium-red {
    height: 200px;
    margin: 10px;
    background-color:lightcoral;
    width: 60%;
}

.big-purple {
    display: flex;
}

.medium-purple {
    height: 200px;
    margin: 10px;
    background-color:#860C86;
    width: 40%;
}

.small-purple {
    height: 200px;
    margin: 10px;
    background-color:#860C86;
    width: 20%;
}

.big-green {
    display: flex;
}

.medium-green {
    height: 200px;
    margin: 10px;
    background-color:#58CA58;
    width: 35%;
    justify-content: space-between;
}

.small-green {
    height: 200px;
    margin: 10px;
    background-color: white;
    width: 30%;
    justify-content: space-between;
}

.big-yellow {
    display: flex;
}

.small-yellow {
    height: 200px;
    margin: 10px;
    background-color: #F8F83D;
    width: 25%;
    justify-content: space-between;
}

.small-white {
    height: 200px;
    margin: 10px;
    background-color:white;
    width: 25%;
    justify-content: space-between;
}

.red {
    display: flex;
    height: 100px;
    background-color: #D63030;
    width: 100%;
}   

.flex-container {
    display: flex;
}

.container-1 {
    height: 500px;
    margin: 10px;
    background-color: #E6E0E0;
    width: 75%;
    justify-content: space-between;
    border-style: solid;
    border-color:#A3A3A3; 
    border-width:1px; 
}

.container-2 {
    height: 500px;
    margin: 10px;
    background-color:#E6E0E0;
    width: 25%;
    justify-content: space-between;
    border-style: solid;
    border-color:#A3A3A3;
    border-width:1px;
}

.footer {
    display: flex;
    height: 200px;
    background-color: #573E3E;
    width:100%; 
}

.big-box {
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 10%;
}

.box {
    height: 200px;
    width: 31%;
    background-color: #573E3E;
    margin: 10px;
}
